@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.rbc-event {
  background-color: #ffcc00 !important;
  color: black !important;
}

.rbc-day-slot .rbc-event {
  border: 1px solid #ffcc00 !important;
}

.rbc-event.rbc-selected {
  background-color: #ffcc00 !important;
}
.rbc-event:focus {
  outline: 5px auto #ffcc00 !important;
}
